body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url('images/dancefloor.jpg');
  font-size:18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUp{
  padding:5px 12px;
  float:right;
}

.topbar{
  height:32px;
  background-color: #555;
  display: inline-flex;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.sizing {
  border:10px solid rgb(0, 183, 255);
  animation-name: pulse_animation;
  animation-duration: 2000ms;
  transform-origin:70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse_animation {
  0% { transform: scale(1); }
  50% { transform: scale(2); }
  100% { transform: scale(1); }
}

.spinny {
  border:10px solid yellow;
  border-radius: 0px;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

